<form action="<%= action %>" method="<%= method %>">

    <% inputs.forEach(input => { %>
        <div>
            <label><%= input.label %></label>
            <input 
                type="<%= input.type %>" 
                name="<%= input.name %>" 
                placeholder="<%= input.placeholder %>"
                <%= input.required ? 'required' : '' %>
            >
        </div>
    <% }) %>

    <% if(selecter === null ? "" : ) %>
    <% %>

    <button type="submit">Enviar</button>

</form>