<div class="perfil">
    <div class="img-perfil">
        <img src="" alt="">
    </div>
    <div class="info-perfil">
        <p><strong>Nombre :</strong> <%= nombre %> </p>
        <p><strong>Apellido :</strong> <%= apellido %> </p>
        <p><strong>Usuario :</strong> <%= usuario %></p>
        <p><strong>Fecha de Nacimiento :</strong> <%= f_nacimiento %> </p>
        <p><strong>Correo :</strong> <%= correo %> </p>
        <p><strong>Genero :</strong> <%= genero %> </p>
    </div>
</div>